.authWrapper {
    padding: var(--padding);
    margin: auto;
}

.authWrapperSection {
    padding: 2vw;
    margin: auto;
    width: 100%;
}

.authWrapperSection {
    margin: 3vw;
}

.title {
    font-family: Arimo;
    font-style: normal;
    font-weight: bold;
    font-size: max(2vw, 1rem);
    text-align: left;
    color: var(--dark);
}

.authWrapperSection button {
    margin-top: 3vw;
    margin-bottom: 4vw;
    border: none;
    border-radius: 0;
    width: max(25%, 80px);
    height: 50px;
}

.formAuth {
    padding: 1vh 0;
}

.formAuth input {
    padding: 2vh;
    border-radius: 0;
}

.formAuth input::placeholder {
    font-size: max(0.5rem, 0.8vw);
}

.forgotPassword {
    color: var(--red);
    margin-left: 0;
}

.RegisChecker {
    margin-top: 3vw;
}

.forgotPassword,
.authWrapperSection label {
    font-family: Arimo;
    font-style: normal;
    font-weight: normal;
    padding: 6px;
    margin: auto 5px auto 2px;
    font-size: max(1vw, 0.6rem);
}