.mainContent {
    width: 100%;
    height: max(100%, 50vh);
    background-color: white;
    margin: 10vh auto 20vh;
}

.leftContent {
    height: max(100%, 50vh);
    background-color: white;
    margin: 0 auto;
}

.rightContent {
    margin: auto;
    height: max(100%, 50vh);
    background-color: white;
}

.BlogContentWrapper {
    margin-bottom: 50px;
}

.header {
    margin-bottom: 3vh;
}

.contentTitle {
    font-weight: normal;
    font-size: max(2.5vw, 32px);
    color: #1A1A1A;
}

.timePost {
    font-weight: normal;
    font-size: 1vw;
    margin: 1rem 0;
    color: #3E3E3E;
}

.timePost i {
    font-weight: normal;
    font-size: 1vw;
    margin-right: 2rem;
    color: #3E3E3E;
}

.textContent {
    font-weight: normal;
    margin: 2rem 0;
    font-size: max(1.1vw, 10px);
    color: #4D4D4D;
}

.btnReadMore {
    font-weight: bold;
    font-size: max(1.4vw, 16px);
    color: #1A1A1A;
}


/* aside */

.blogAsideList {
    width: 100%;
    margin: 2vh 0;
    display: flex;
}

.blogAsideList li {
    font-weight: normal;
    border: none;
    width: 23vw;
    margin: 0.7rem 0;
    padding: 1rem 0;
    display: flex;
    font-size: max(1.1vw, 10px);
    justify-content: space-between;
}

.recentNews {
    font-weight: normal;
    font-size: 1vw;
    margin: 1rem 0;
    color: #3E3E3E;
    border-bottom: 1px solid #D7D7D7;
    padding: 2rem 0;
}

.recentNewsTitle {
    font-weight: bolder;
    font-size: 1.2vw;
    margin: 1rem 0;
    color: #3E3E3E;
    padding-left: 2rem;
}

.recentNewsTime {
    font-weight: 200;
    font-size: 0.8vw;
    margin: 1rem 0;
    color: #3E3E3E;
    padding-left: 2rem;
}

.checkoutBtnNmbr {
    border-radius: 0;
    font-size: 1rem;
    margin: 2vh auto;
    width: 350px;
    text-align: left;
    border: 1px solid rgb(218, 218, 218);
    background-color: white;
    height: 60px;
}

.tagsWrapper {
    width: 350px;
    padding: 0;
    margin: 3vh auto;
}

.tagsWrapper button {
    margin-right: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: fit-content;
}

.ads {
    position: relative;
    z-index: 1;
    opacity: 0.5;
}

.adsContact {
    position: absolute;
    bottom: 50%;
    z-index: 999;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
}

.mainContent i {
    margin: auto 2vh;
}

.quoteSection {
    margin: 9vh 0;
}

.quoteSection q {
    font-family: Playfair Display;
    font-style: italic;
    font-weight: normal;
    font-size: 46px;
    line-height: 51px;
    /* identical to box height, or 111% */
    color: #212121;
}

.quoteSection p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #1A1A1A;
}