.title {
  font-family: Arimo;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  color: #1a1a1a;
}

.wrapper-card {
  width: 82% !important;
  height: 370px !important;
  /* border: 1px solid red; */
  box-sizing: border-box;
}

.card {
  /* border: 1px solid black !important; */
  height: 350px;
  /* margin-right: 40px; */
  /* width: 100px !important; */
}

.wrapper-text {
  /* border: 1px solid black; */
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* width: max-content; */
}

.wrapper-text > p {
  font-family: Arimo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 11px;
  color: #3e3e3e;
  margin: 0;
}
