.main {
  margin: 100px 0;
  margin-bottom: 50px;
  padding: 40px 70px;
}

.wrapper-image {
  width: fit-content;
  height: fit-content;
  background-color: #fff9e3;
  border-radius: 100%;
}

.title {
  font-family: Arimo;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 99px;
  color: #1a1a1a;
}

.description {
  font-family: Arimo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 37px;
  color: #4d4d4d;
}

.explorer {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.explorer > span {
  width: 100px;
  height: 1px;
  margin-right: 10px;
  background-color: #1a1a1a;
}

.explorer > a {
  text-decoration: none;
  font-family: Arimo;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #1a1a1a;
}

.explorer > a:hover {
  color: #888888;
}

.wrapper-card {
  width: 65%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap;
}

.card-wrapper {
  border: var(--border-transparent);
  width: 48%;
  aspect-ratio: 10/16;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 4rem;
  /* margin-right: 20px; */
  transition: transform 0.5s, filter 0.1s ease-in-out;
  /* filter: grayscale(100%); */
}

.card-wrapper:hover {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.49);
  aspect-ratio: 10/16;
  /* filter: grayscale(0); */
  transform: scale(1.1);
  border-radius: 50%;
}

.img-wrapper {
  position: relative;
  height: 80%;
  width: 100%;
}

.product-detail {
  background-color: white;
  height: 20%;
  width: 100%;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p.product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  font-weight: 700;
}

.wrapper-more-product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.wrapper-more-product > span {
  width: 105px;
  height: 2px;
  margin: 0 20px;
  background-color: #1a1a1a;
}

.wrapper-more-product > a {
  font-family: Arimo;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #1a1a1a;
}

.wrapper-more-product > a:hover {
  color: #888888;
}

.wrapper-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-comment {
  font-family: Arimo;
  font-style: normal;
  font-weight: normal;
  font-size: 66px;
  line-height: 76px;
  text-align: center;
  letter-spacing: 2.35714px;
  color: #1a1a1a;
  padding-bottom: 50px;
}

.title-description {
  font-family: Arimo;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 55px;
  color: #4d4d4d;
  width: 70%;
  text-align: center;
  padding: 40px;
}

.name-user-comment {
  font-family: Arimo;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #a17f25;
  padding-bottom: 30px;
}

.wrapper-image-comment {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

/* RESPONSIVE */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .card-wrapper {
    width: 32%;
  }
}

@media (min-width: 992px) {
}
