.wrapper-header {
  display: flex;
  justify-content: space-between;
  padding: 4vw 6vw;
  align-items: center;
}

.title-brand {
  font-family: Arimo;
  font-style: normal;
  font-weight: bold;
  font-size: 45.12px;
  line-height: 52px;
  color: #1a1a1a;
  text-decoration: none;
}

.wrapper-ul {
  display: flex;
}

.list-menu {
  margin-right: 20px;
  list-style: none;
  cursor: pointer;
  font-family: Arimo;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #1a1a1a;
}

.list-menu:hover {
  border-bottom: 1px solid black;
}

.wrapper-icon {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.icon {
  font-size: 25px;
  font-weight: bold;
}

.wrapper-btn-menu > span {
  width: 30px;
  border-radius: 5px;
  height: 5px;
  margin: 3px 0;
  display: flex;
  background-color: black;
}

.wrapper-btn-menu {
  display: inline-block;
  padding-top: 5px;
  cursor: pointer;
}

.wrapper-menu {
  width: 200px;
  text-align: start;
  position: absolute;
  top: 310px;
  right: 80px;
  border: 1px solid black;
  padding: 10px;
  list-style: none;
  background-color: #1a1a1a;
  display: none;
}

.wrapper-menu-show {
  width: 200px;
  text-align: start;
  position: absolute;
  top: 310px;
  right: 80px;
  border: 1px solid black;
  padding: 10px;
  list-style: none;
  background-color: #1a1a1a;
  display: block;
}

.wrapper-menu > li,
.wrapper-menu-show > li {
  padding-left: 30px;
  font-family: Arimo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 57px;
  color: #919191;
  cursor: pointer;
}

.wrapper-menu > li:hover,
.wrapper-menu-show > li:hover {
  color: #fff;
}

.wrapper-submenu {
  display: none;
  list-style: none;
  padding: 0;
  position: absolute;
  top: 300px;
}

.wrapper-submenu-show {
  display: block;
  list-style: none;
  padding: 0;
  position: absolute;
  top: 300px;
}
