.main {
  padding: var(--padding-big);
  display: flex;
  grid-gap: 5%;
}

.main-content {
  width: 75%;
  aspect-ratio: 9/21;
}

.product-list-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  margin-bottom: 2rem;
}

button.sort {
  background-color: transparent;
  font-weight: inherit;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--dark);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 1rem;
}

.dropdown-content a {
  float: none;
  color: var(--gray);
  padding: 0.5rem 0;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: 400;
}
.dropdown-content a:hover {
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr; */
  grid-gap: 2%;
  margin-bottom: 3rem;
}

.pagination {
  display: flex;
  grid-gap: 0.5rem;
}

.pagination-button {
  padding: 1rem;
  border: var(--border-gray);
  background-color: white;
  color: var(--dark);
}

.pagination-button.active:hover {
  opacity: 0.7;
}

.pagination-button.active,
.pagination-button:hover {
  border: 1px solid var(--dark);
  background-color: var(--dark);
  color: white;
}
