.productMainWrapper {
    padding: var( --padding);
    height: 100%;
}

.galleryImageWrapper {
    width: 85%;
    height: max(30%, 10%);
    margin: 0 auto;
}

.mainImg {
    width: 100%;
    height: max(50vh, 20%);
    margin-top: 45px;
}

.imgProductContainer {
    width: 75%;
    height: max(30%, 10%);
    margin: auto;
}

.productTitle {
    font-weight: normal;
    font-size: max(1.3rem, 1.5vw);
    color: var(--dark);
}

.productPrice {
    font-weight: bold;
    font-size: max(1.4rem, 1.8vw);
    color: var(--dark);
}

.productStock {
    font-weight: 400;
    font-size: max(0.6rem, 1vw);
    color: var(--dark);
}

.productStock i {
    font-weight: 400;
    margin-right: 10px;
    font-size: max(0.6rem, 1vw);
    color: var(--dark);
}

.productRate {
    font-weight: 400;
    font-size: max(0.5rem, 0.8vw);
    color: var(--dark);
}

.productDescription {
    font-weight: normal;
    font-size: max(0.9rem, 1vw);
    color: #4D4D4D;
    margin: 3vw auto;
}

.productDescriptionWrapper {
    margin: 30px auto;
}

.additional {
    font-weight: 400;
    margin-right: 10px;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: max(0.5rem, 0.8vw);
    color: #262626;
}

.shippingOptions {
    font-weight: normal;
    font-size: max(0.7rem, 1vw);
    color: #1A1A1A;
    margin-top: 1vw;
    margin-bottom: 2vw;
}

.shippingOptions p {
    padding-right: 3vw;
}

.shippingOptions i {
    padding-right: 1vw;
}

.socialMediaIcon div {
    margin: 0.5vw;
    height: 35px;
    width: 35px;
    border-radius: 22px;
    border: 0.5px solid black;
    text-align: center;
    padding: 0.2vw;
}

.socialMediaIcon i {
    font-size: max(1.3rem, 1.3vw);
    /* font-size: 1.3vw; */
}

.productDetailNav {
    padding: 1vw;
}

.productDetailNav p {
    text-align: center;
    font-size: max(0.5rem, 1vw);
    width: 17vw;
    padding: 1vw;
    cursor: pointer;
}


/* btn product */

.counter {
    border: 1px solid #4D4D4D;
    height: max(6vh, 30px);
    font-size: max(0.5rem, 1vw);
    font-weight: bold;
}

.productDescButton {
    font-weight: bold;
    border-radius: 0;
    margin: 0.5vw;
    height: 6vh;
    padding-left: 15px;
    padding-right: 15px;
    font-size: max(0.6rem, 1.2vw);
}


/*  */

.productDescriptionSection {
    font-weight: normal;
    font-size: max(0.6rem, 1vw);
    color: #4D4D4D;
    margin: 3vw auto;
    width: 50%;
}

@media screen and (max-width: 520px) {
    .productDescriptionSection {
        width: 100%;
    }
}

.productDescriptionSection P {
    margin: 2vw auto;
}


/* coment review */

.cardReviewComment {
    border-bottom: 1px solid rgba(82, 82, 82, 0.377);
    padding: 2vh;
    margin: 2vw auto;
}

.userReviewImage {
    margin: 1vw 2vw;
}

.commentTimeWrapper {
    margin: auto;
}

.commentQuote {
    font-size: max(0.6rem, 1vw);
    color: var(--dark);
}

.commentTime {
    font-size: max(0.5rem, 0.8vw);
    color: #989898;
}

.replyBtn {
    font-size: max(0.5rem, 0.8vw);
    color: #2F2F2F;
}