.main {
  padding: 2rem 7rem;
  width: 100%;
  height: fit-content;
}

.wrapper-photo {
  width: 100%;
  display: flex;
}

.wrapper-image {
  position: relative;
  display: flex;
  background-color: red;
}

.edit-photo {
  font-family: Arimo;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
  color: #ffffff;
}

.wrapper-title {
  display: flex;

  flex-direction: column;
  justify-content: space-around;
  width: fit-content;
  margin-left: 20px;
}

.title-name {
  font-family: Arimo;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #1a1a1a;
}

.title-role {
  font-family: Arimo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 37px;
  color: #4d4d4d;
}

.icon {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
  margin-left: 20px !important;
}

.icon .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  left: 30px;
  z-index: 1;
}

.icon:hover .tooltiptext {
  visibility: visible;
  font-size: 14px;
}
