.productWrapper {
    border-left: none;
    border-right: none;
    border-top: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
    height: 6vh;
    width: 85%;
    text-align: center;
    margin: 1vh auto;
}

.productWrapper p {
    text-align: center;
    margin: auto;
    padding: 1.2vh;
    font-size: max(0.7rem, 1vw);
}